*{
  font-family: 'Open Sans', sans-serif;
  color: #ffff;
}

.background {
  background: #209cd7;
  height: 800px;
}

.btn-call-to-action {
  margin-top: 15px;
}

.call-to-action {
  background: #3381cc;
  height: 600px;
}

.call-to-action-content{
  margin-top: 120px;
}

.call-to-action-2 {
  background: #e2e2e2;
  height: 600px;
}

.features {
  margin-top: 100px;
  height: 500px;
}

.jump-link {
  color:white;
  text-decoration: underline; 
}
.signin {
  width: 500px;
  margin-top: 50px
}

.form-heading {
  margin-top: 60px;
}

label {
  padding-left: 10px;
}

.offer-section {
  color: #3E4348;
}

.showcase {
    background: url(./img/Home_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }

  nav ul a{
    font-weight: 300;
    letter-spacing: 2px;
  }

  nav .brand-logo{
    padding:8px;
  }

  .btn-large{
    border-radius:50px;
    padding:0 50px;
  }

  .top{
    margin-top: -20px;
  }

  .grey-text{
    letter-spacing: 1px;
    font-weight: 300;
  }

.blue.lighten-2 {
  border-radius:50px;
}

.pg-inverse{
  color:black;
}