

div.reminder{
  color: rgb(12, 10, 10);
  background: #82c0ff;
}
nav.Topnav {
  color: #fff;
  background-color: dodgerblue;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

 
div.react-calendar__month-view,.react-calendar button {
  background:   white;
  color: #222
}
.react-calendar {
  width: 150px;
 
  min-height: 100px;
  background: darkmagenta;
}

div.search-input.boxShadow{
  
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}


.spancheckbox{
  
  color: #222
}


i.Medium.material-icons.icon{
  color: #222;
  font-size: 45px ;
  margin: 10px;
}
.sectionboxcontact{
  display: flex;
  flex-wrap:wrap ;
  flex-direction:column  
}
div.Section-Email-Sms-Comment{
  display: flex;
}
.iconbox{
  display: flex;
  align-items: center;
}
.calendarbox{
  display: flex;
}

div.row.wrapper-email-sms{
  padding: 10px;
  width: 700px;
  display:flex;
  justify-content:center ;
  flex-wrap:wrap ;
 background: #fff;
 border-color: rgba(0,0,0,.7);
 box-shadow: 0 0 0 1px rgba(198, 199, 201, 0.5);

}

textarea{
  color: #000;
  min-height: 150px;
  min-width:100% ;
  padding: 10px;
   
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.collection.leftNav a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #2196F3;
}
.collection.leftNav .collection-item.active {
  background-color:   #2196F3;
  color: #eafaf9;
}
.reminderInput {
  color:#222;
  border-color: rgba(0,0,0,.55);
  background:white; 

}
.mail div.info,.reminderInput input{
color:#222;
background-color:white;
padding:10px; 
}

abbr{
  color:#000;
}
.sectionboxcontact{
 background: white;
 color:#222;
 padding:10px; 
  margin:10px; 

}
div.col.s12.m6.l5.boxShadow{
  padding: 10px;
  margin: 10px;
}
.btn.reminder_submit_btn{
  background: #2196F3;
}
span.spanComment{
 
  padding:20px; 
  color: #000;
}
.navleft,.commentsection{
  max-width:200px; ;
}
.tab-wrapper{
  display: flex;
  justify-content:space-between; 
}
div.text{
  margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
    background: #fff;
    
}
div.text:hover{
  color: rgb(149, 164, 179);
  cursor: pointer;
}
div.tab-button.active{
  color: #0af;
  border: 1px solid #abc;
  border-top: 3px solid #0af;
  border-bottom: 1px solid #fff;
}
div.tab-button{
  padding: 2px 0 0;
  border-bottom: 1px solid #abc;
}
.imagAvatar{
  width:45px ;
  margin: 10px;
}
span.spancomment{
  color: #aeb4b7;
}
li.licomment{
 background: #FFF;
 color: #aeb4b7;
 border-radius:8px  ;
 margin: 15px;
 padding: 0 20px;
 -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.05);
 box-shadow: 0 1px 4px rgba(0,0,0,.05);

}
li.licomment:hover{
  box-shadow: 0 4px 4px rgba(0,0,0,.09);
 }
ul.ulComment{
  background: #fafafa;
  padding:20px; 
}
.switchform{
  margin-bottom:20px; 
  background:#e8ecf0;
display: flex;
justify-content:space-between ;
padding:2px; 
}

.divSwitchStatus{
  display: flex;
  flex-direction:column;
  align-items:center ; 
  background: #fff;
  padding:10px;  
  margin:4px 
}

.Section-Email-Sms-Comment{
  display:flex ;
  background:#82c0ff
  
}
.Section-Email-Sms{
  width:800px; 
  margin-right:20px; 
  display:flex; 
  flex-direction:column ;
  align-items:center; 
  padding:20px; 
  
}
.Section-Email{
  display:flex ;
  margin-bottom:10px; 
  
}
.Section-Sms{
  display:flex ;
}
.stats0{
  display:none; 
}
.Section-Comment{
  display:flex ;
  border: 1px solid rgba(4, 5, 5, 0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  width:300px; 
}
.reminderform{
  display:flex 
}


.emailfalse{
display:none 
}
.smsfalse{
  display:none 
  }
.boxwrapper{
  color:#458 !important
}

 div span,h4, input,span .rem{
  color:#222;
  list-style:none ;
  padding:5px; 
  font-size:14px; 
}
div.mail li.info{
  font-size: 12px;
  font-weight:600;
	color: dodgerblue;
  padding: 10px 30px;
  background:white;
  margin:3px;    
  cursor: pointer;
  list-style:none 
}
.switchbox{
 
  display:flex;

}

.css-d8oujb{
  color: rgb(10, 10, 10);
}


.switchbox{
  display:flex;
  justify-content:space-between;
  padding: 10px; 
  margin-bottom:10px; 
  background: white 
}

.boxstyle {
  box-shadow: 0px .2px .2px 1px rgba(192, 193, 197, 0.603);
  background-color: #82c0ff;
  color:#000;
  border-radius: 6px;
  padding: .1px 0;
}


.boxstyle3 {
  box-shadow: 0px .2px .2px 1px rgba(192, 193, 197, 0.603);
}
.boxstyle4 {
  box-shadow: 0px .2px .2px 1px rgba(192, 193, 197, 0.603);
  background: #82c0ff;
}
.boxstyle5 {
  box-shadow: 0px .1px .1px .3px rgba(0,0,0,0.1);
 
}
::-webkit-input-placeholder { 
  color: #222;
  padding-left:20px; 
}

.Searchbox  {
  width:207px; 
  padding:5px; 
  
}
div.mail li.info.invoice--clicked{    
  background-color:dodgerblue;
  color:white;
  }
  section.notinvoicecard{
    text-align:center; 
  background:#82c0ff; 
 display:flex ;
 flex-direction:column ;
 justify-content: center;
}

.wrapper{
  transform-style: preserve-3d;
  
  width:600px;
margin: 20px;
border:1px solid  rgba(151, 171, 187, 0.1);
padding-bottom:10px }
.tile:hover{


}
#tile1{
	margin-right:20px;
}
.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:37px 20px 0;
	font-size:16px;
	color:dodgerblue;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#208fe4;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;	
    margin-top: 36px;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width:119px;
	float:left;
	text-align:center
}
.stats div:nth-of-type(3){border:none;}

table.rwd-table {
  width: 800px;
  color:rgb(22, 8, 8);
  border-radius: .4em;
}
.rwd-table tr {
 
}
.rwd-table th, .rwd-table td {
  margin: .10em 1em;
}

td.td-table{
 background:darkolivegreen 
}

span.span-table{
  background:#888;
  color:#fafafa;
  border-radius: 10px/50%;
 
 
 }
 .isHiddingtrue,div.isHiddingtrue{
   display:none 
 }

 section.notinvoicecard {
   height:80vh; 
   background:#82c0ff;
    
 }

 .wrapperContainer_send_reminders{
   display: flex;
   flex-direction:column; 
   justify-content:space-between 
 }
 h3.titles{
   font-size:18px; 
   color:grey;
   margin-bottom:15px 
 }
 .rem_card_stats{
   width:600px ;
  display:flex;
  
  flex-direction: column;
   
   display:flex;
 }
.card_stats{
  margin:20px ;
 
}
 .stats_body{
   border-left: 0.5px solid #D3D3D3;
   margin-left: 10px;
   padding-left:15px; 
  font-size:18px; 
  color:rgba(0,0,0,0.87);
  margin-bottom:15px 
 }
 .stats_title{
  font-size:20px; 
  color:rgba(0,0,0,0.87);
  margin-bottom:45px;
  
 }
 .stats_contents{
  height:150px ;
  margin-left:10px 
 }
 .stats_content1,.stats_content2{
  font-size:18px; 
  color:rgba(0,0,0,0.87);
  margin-bottom:25px;
 }
 .material-icons.iconstyle,.bigicon{
  color:rgba(0,0,0,0.87);
  line-height: 35px;
  margin-right: 10px;
 }
 .collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: rgba(0,0,0,0.87);;
  text-align: center;

}
