
div.reminder{
  color: rgb(12, 10, 10);
  background: #f0f5fb
 

}
nav.Topnav {
  color: #fff;
  background-color: #2196F3;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

 
div.react-calendar__month-view,.react-calendar button {
  background:   white;
  color: #222
}
.react-calendar {
  width: 150px;
 
  min-height: 100px;
  background: darkmagenta;
}

div.search-input.boxShadow{
  
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}


.spancheckbox{
  
  color: #222
}


i.Medium.material-icons.icon{
  color: #222;
  font-size: 45px ;
  margin: 10px;
}
.sectionboxcontact{
  display: flex;
  flex-direction:column  
}
.iconbox{
  display: flex;
  align-items: center;
}
.calendarbox{
  display: flex;
}

div.row.wrapper-email-sms{
  padding: 10px;
  display:flex;
  justify-content:center ;
 background: white;
 border-color: rgba(0,0,0,.7);
 box-shadow: 0 0 0 1px rgba(198, 199, 201, 0.5);

}

textarea{
  color: #000;
  min-height: 150px;
  min-width:100% ;
  padding: 10px;
   
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.collection.leftNav a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #2196F3;
}
.collection.leftNav .collection-item.active {
  background-color:   #2196F3;
  color: #eafaf9;
}
.reminderInput {
  color:#222;
  border-color: rgba(0,0,0,.55);
  background:white; 

}
.mail div.info,.reminderInput input{
color:#222;
background-color:white;
padding:10px; 
}

abbr{
  color:#222;
}
.sectionboxcontact{
 background: white;
 padding:10px; 
  margin:10px; 

}
div.col.s12.m6.l5.boxShadow{
  padding: 10px;
  margin: 10px;
}
.btn.reminder_submit_btn{
  background: #2196F3;
}
span.spanComment{
 
  padding:20px; 
  color: #000;
}
